<div 
  class="hotwired-component-tw-forms-input" 
  data-controller="hotwired-component--tw--forms--input--component"
>
  <%= label %>
  <%= text_field_tag(name, options.delete(:value), options) %>
  <%= error_label %>
</div>
